h1 {
    font-family: 'Encode Sans', sans-serif;
    color: white;
    font-size: 100px;
    text-align: right;
    padding-right: 75px;
    padding-top: 100px;
    margin: 0px;
}
h2 {
    font-family: 'Encode Sans', sans-serif;
    color: #182EA4;
    font-size: 30px;
    text-align: right;
    padding-right: 75px;
    margin: 0px;
}
h3 {
    font-family: 'JetBrains Mono', monospace;
    color: #182EA4;
    font-size: 50px;
    font-weight: 800;
    margin: 0px;
    position: absolute;
}
h4 {
    font-family: 'JetBrains Mono', monospace;
    color: #182EA4;
    font-size: 50px;
}
h5 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
}
h6 {
    font-family: 'Encode Sans', sans-serif;
    color: #182EA4;
    font-size: 50px;
    margin: 0px;
}
h7 {
    font-family: 'JetBrains Mono', monospace;
    color: #182EA4;
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 10px;
}
p {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 20px;
}
h7 {
    font-family: 'JetBrains Mono', monospace;
    color:#182EA4 ;
    font-size: 20px;
}

a {
    color: white;  
}
a:link {
    text-decoration: none;
}
a:hover {
    color: #182EA4;
}
button {
    background: none;
    border: none;
    width:10%;
}

pre {
    padding: 0 0 0 0;
}

body {
    background-color: #7689F1;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #7689F1;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 0px;
    border-bottom: medium solid #7689F1;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: right;
    justify-content: right;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    color: white;
}

.nav-content a {
    color: white;
    text-decoration: none;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #7689F1;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.about {
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}

.moreabout {
    margin-left: 50px;
    margin-right: 50px;
}

.education {
    width: 100%;
    background-color: #5C75F4;
    padding: 30px 0px 30px 30px;
}

.experience {
    width: 100%;
    padding: 30px 0px 30px 30px;
}

.box {
    background-color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
}

.box:hover {
    background-color: #FECD6A;
}

  .hobbie {
    width: 100%;
    padding: 30px 0px 30px 30px;
  }

  h8 {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 50px;
  }

  .title {
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
  }

.profilepic {
    border-radius: 25px;
    height: 250px;
    width: 250px;
}

.team {
    width: 100%;
    height: fit-content;
    padding: 30px 0px 30px 0px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding-bottom: 300px;

}

.proimage {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    float:left;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FECD6A;
    margin-top: 20px;
    border-radius: 25px;
    
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.teamtext {
    padding-bottom: 50px;
    width: 100%;
}