body {
    background-color: #FAF3DD;
    font-family: 'Kantumruy Pro', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin: 3vh;
}

h3 {
    font-size: 24px;
    margin: 2vh;
}

p {
    font-size: 16px;
    margin: 0vh;
}

.nav-bar {
    position:fixed; 
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-button {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 16px;
    border-radius: 30px;
    border-style: none;
    background-color:transparent;
    margin: 1vw 1vw;
    width: 7vw;
    height: 6vh;
}

.nav-button:hover {
    background-color: #AED9E0;
}

.nav-button.selected {
    background-color: #5E6472;
    color:white;
}

.intro {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.about img {
    border-radius: 50%;
}

.about p {
    width: 30vw;
}

.experiences {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.experience {
    width: 50vw;
    background-color: #F4D6B6;
    border-radius: 15px;
}

.experience p {
    margin: 2vh;
}