{% extends 'base.html' %}

{% block body %}
<!-- <div class="profile">
    <div id="profile-picture" class="profile-picture">
        <img src="/static/img/logo.jpg">
    </div>
    <h1>{{ title }}</h1>
</div>
-->
<div class="title">
    <p style="float: left; margin: 50px;"><img src="/static/img/dancingduck.gif" height="300px" width="300px"> </p>
    <h1> DANCING DUCKS </h1>
    <pre><code><h2>from the Kung Foo Pandas
                Production Engineering Pod
    </h2></code></pre>
</div>

<div class="team">
    <div class="teamtext">
        <h3> THE TEAM </h3>
    </div>
    <div class="container">
        <img src="/static/img/lucy-mlh.jpeg" class="proimage">
        <div class="overlay">
            <div class="text">Lucy</div>
        </div> 
    </div>
    <div class="container">
        <img src="/static/img/mia-mlh.jpg" class="proimage">
        <div class="overlay">
            <div class="text">Mia</div>
        </div>  
    </div>
    <div class="container">
        <img src="/static/img/logo.jpg" class="proimage">
        <div class="overlay">
            <div class="text">Rodrigo</div>
        </div>  
    </div>
    <div class="container">
        <img src="/static/img/logo.jpg" class="proimage">
        <div class="overlay">
            <div class="text">Kelly</div>
        </div>  
    </div> 
</div>
{% endblock %}