{% extends 'base.html' %}

{% block body %}
<!-- <div class="profile">
    <div id="profile-picture" class="profile-picture">
        <img src="/static/img/logo.jpg">
    </div>
    <h1>{{ title }}</h1>
</div>
-->
<h1> DANCING DUCKS </h1>
<pre><code><h2>from the Kung Foo Pandas
            Production Engineering Pod
</h2></code></pre>
<br><br><br><br><br>

<section>
    <h3> THE TEAM </h3>
    <br> <br> <br>
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="/static/img/logo.jpg">
            <img src="/static/img/logo.jpg">
            <img src="/static/img/logo.jpg">
            <img src="/static/img/logo.jpg">
        </div>
    </div>
    
</section>
{% endblock %}