{% extends "base.html" %}

{% block body %}

<div class="form">
    <form id="timeline_form">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <br>
        <input type="text" name="content" id="content">
        <br>
        <input type="submit" value="Post">
    </form>
</div>
<div class="timeline">
    {% for post in timeline['timeline_posts'] %}
        <p>{{ post['created_at'] }}</p>
        <p>{{ post['name'] }}</p>
        <p>{{ post['email'] }}</p>
        <p>{{ post['content'] }}</p>
        <br>
    {% endfor %}
</div>


<script>
    document.getElementById('timeline_form').addEventListener('submit', e => {
        e.preventDefault(); // prevents redirect
        const formData = new FormData(e.target)
        fetch('/api/timeline_post', {
            method: 'POST',
            body: formData
        });
    });
</script>
{% endblock %}